{% extends 'flatpages/default.html' %}

{% block title %} Личный кабинет пользователя {% endblock title %}

{% block content %}

<section class="section">
        <h1 class="title">Посты ваших любимых авторов</h1>
        <h2 class="subtitle">
        Тут находятся посты авторов, на которых вы <strong>подписаны</strong>
        </h2>
</section>


{% for post in all_post_list %}
{% if request.user in post.author.subscribers.all %}
<div class="card">
    <div class="card-content">
        <div class="media">
        <!-- Информация слева-->
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
            </div>

            <div class="media-content">
                <p class="title is-4">
                <a href="{% url 'post_detail' post.id %}">{{ post.title | truncatewords:7 }}
                </a>
                </p>
                <p class="subtitle is-6">
                    <a href="{% url 'author_detail' post.author.id %}">
                        {{ post.author }}
                    </a>
                </p>
            </div>
            <!-- Информация справа-->
            <div class="media-right">
                <p class="title is-4">
                от {{ post.creation_date | date:' G:i' }}
                </p>
                <p class="subtitle is-6">
                    {{ post.creation_date | date:' d E Y' }}
                </p>
            </div>
        </div>
        <div class="content">
            {{ post.content | truncatewords:20 }}
            <br>
        </div>
    </div>

    <footer class="card-footer">
            <!-- добавим ссылку на подписку автора публикации-->
            <a href="{% url 'unsubscribe' post.author.id %}" class="card-footer-item">
                Отписаться от автора
            </a>
    </footer>




{% endif %}
{% endfor %}
{% endblock content %}