{% extends 'flatpages/default.html' %}

{% block title %} Post create {% endblock title %}
 
{% block content %}
<section class="section">
        <h1 class="title">Создание поста</h1>
        <h2 class="subtitle">
        Здесь вы можете <strong>создать</strong> свое собственное объявление. Заполните поля ниже.
        </h2>
</section>
<form method="POST">
    {% csrf_token %} 
    {{ form }} <!-- Теперь нам нужна только готовая форма и кнопка -->
    <input type="submit" value="Добавить публикацию">
</form>
{% endblock content %}