{% extends 'flatpages/default.html' %}

<!-- Название у нас будет Posts -->
{% block title %}
Posts
{% endblock title %}
 
<!-- В контенте на странице мы выводим все публикации -->
{% block content %}
    <h1>Все авторы  </h1>
    <h3>{{ time_now|date:'M d Y' }}</h3>
    <hr>
    {% if author_list %}
        <table>
           <tr>
               <td>Название</td>
               <td>Дата публикации</td>
           </tr>
            <!-- Для каждой публикации будет генерироваться новая строчка,
           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           post_list — переменная цикла, т.е. наша публикация полученный из списка -->
           {% for author in author_list %}
           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце дату создания публикации, и т.д.  -->
               <td> <a href="{% url 'author_detail' author.id %}">{{ author.user.username }}</a> </td>
               <td>{{ author.postCount }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Публикации отсутствуют!</h2>
   {% endif %}
{% endblock content %}