{% extends 'flatpages/default.html' %} <!--  наследуемся от шаблона default.html, который создавали для flatpages -->


{% block title %}
Post Details            <!-- Название у нас будет Post Details -->
{% endblock title %}


{% block content %} <!-- В контенте на странице мы выводим саму публикацию, идентификатор которой был передан в url -->

    <table>
            <tr>
               <td>Название</td>
               <td>Содержание</td>
               <td>Дата публикации</td>
            </tr>

            <tr>
               <td>{{ author_detail.user.username }}</td>
                 <!-- Добавим специальный фильтр "Цензор" для цензурирования непотребных слов.
                Все остальные символы превратятся в многоточие. -->
               <td>{{ author_detail.postCount }}</td>
               <td>{{ post_detail.creation_date }}</td>
           </tr>

    </table>

{% endblock content %}