{% extends 'flatpages/default.html' %}

<!-- Название у нас будет Posts -->
{% block title %}
Posts
{% endblock title %}
 
<!-- В контенте на странице мы выводим все публикации -->
{% block content %}
<section class="section">
        <h1 class="title">Список авторов блога на {{ time_now | date:'M d Y' }}</h1>
        <h2 class="subtitle">
        Здесь представлены все активные <strong>авторы</strong>, включая вас.
        </h2>
</section>

{% for author in author_list %}

<div class="card">
    <div class="card-content">
        <div class="media">
        <!-- Информация слева-->
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
            </div>

            <div class="media-content">
                <p class="title is-4">
                <a href="{% url 'author_detail' author.id %}">{{ author.user.username }}
                </a>
                </p>
            </div>
            <!-- Информация справа-->
            <div class="media-right">
                <p class="title is-4">
                Всего постов: {{ author.post_set.all | length }}
                </p>
            </div>
        </div>
    </div>
{% if request.user.is_authenticated and request.user.username != author.user.username %}

 {% if request.user in author.subscribers.all %}
        <footer class="card-footer">
            <!-- добавим ссылку на подписку автора публикации-->
            <a href="{% url 'unsubscribe' author.id %}" class="card-footer-item">
                Отписаться от автора
            </a>
        </footer>
        {% else %}
        <footer class="card-footer">
            <!-- добавим ссылку на подписку автора публикации-->
            <a href="{% url 'subscribe' author.id %}" class="card-footer-item">
                Подписаться на автора
            </a>
        </footer>
    {% endif %}
    {% endif %}
</div>
<br>

{% endfor %}


{% endblock content %}