
{% extends 'flatpages/default.html' %} <!--  наследуемся от шаблона default.html, который создавали для flatpages -->


{% block title %}
Post Details            <!-- Название у нас будет Post Details -->
{% endblock title %}


{% block content %} <!-- В контенте на странице мы выводим саму публикацию, идентификатор которой был передан в url -->

    <table>
            <tr>
               <td>Автор</td>
               <td>Название</td>
               <td>Содержание</td>
               <td>Дата публикации</td>
            </tr>

            <tr>
               <td>{{ post_detail.author }}</td>
               <td>{{ post_detail.title }}</td>
               <td>{{ post_detail.content }}</td>
               <td>{{ post_detail.creation_date | date:'d.M.Y' }}</td>
           </tr>

    </table>

{% endblock content %}
