{% extends 'flatpages/default.html' %}

<!-- Название у нас будет Posts -->
{% block title %}
Posts
{% endblock title %}
 
<!-- В контенте на странице мы выводим все публикации -->
{% block content %}
    <h1>Все публикации  </h1>
    <h3>{{ time_now|date:'M d Y' }}</h3>
    <hr>
    {% if all_post_list %}
        <table>
           <tr>
               <td>Автор</td>
               <td>Название</td>
               <td>Дата публикации</td>
               <td>Предпросмотр</td>
           </tr>
           {% for post in all_post_list %}
           <tr>

               <td> <a href="{% url 'author_detail' post.author.id %}">{{ post.author }}</a> </td>
               <td> <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a> </td>
               <td>{{ post.creation_date | date:'d.M.Y' }}</td>

               <td>{{ post.content }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Публикации отсутствуют!</h2>
   {% endif %}
{% endblock content %}
